/* Import the font Noto Sans from google fonts */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Root  */

:root {
    --color-blue-10: #eff4ff;
    --color-blue-20: #dfe9ff;
    --color-blue-40: #bfd2ff;
    --color-blue-80: #80a5ff;
    --color-blue-100: #608fff;
    --color-blue-120: #4d72cc;
    --color-blue-140: #3a5699;
    --color-brand-primary-20: #d3f5eb;
    --color-brand-primary-40: #a6ebd7;
    --color-brand-primary-60: #7ae1c4;
    --color-brand-primary-80: #4dd7b0;
    --color-brand-primary-100: #21cd9c;
    --color-brand-primary-120: #1aa47d;
    --color-brand-primary-140: #147b5e;
    --color-brand-primary-160: #0d523e;
    --color-videoBox-brand: #d3f5eb;
    --color-videoBox-legacy: #fff;
    --color-videoBox-primary: #fbfbfb;
    --color-green-10: #ebf8ef;
    --color-green-20: #d7f1df;
    --color-green-80: #60c87f;
    --color-green-100: #38ba5f;
    --color-green-120: #2d954c;
    --color-green-140: #227039;
    --color-grey-2: #fbfbfb;
    --color-grey-3: #f8f8f8;
    --color-grey-6: #f2f2f2;
    --color-grey-9: #ebebeb;
    --color-grey-12: #e4e4e4;
    --color-grey-20: #d3d3d3;
    --color-grey-30: #bdbdbd;
    --color-grey-40: #a7a7a7;
    --color-grey-50: #919191;
    --color-grey-60: #7a7a7a;
    --color-grey-70: #646464;
    --color-grey-80: #4e4e4e;
    --color-grey-90: #383838;
    --color-grey-100: #222;
    --color-icon-brand: #21cd9c;
    --color-icon-helper: #646464;
    --color-icon-primary: #222;
    --color-line-brand: #21cd9c;
    --color-line-primary: #e4e4e4;
    --color-link-disabled: #a7a7a7;
    --color-link-primary: #222;
    --color-red-10: #fbebeb;
    --color-red-20: #f7d7d7;
    --color-red-80: #e16060;
    --color-red-100: #d93838;
    --color-red-120: #ae2d2d;
    --color-red-140: #822222;
    --color-text-brand: #0d523e;
    --color-text-error: #ae2d2d;
    --color-text-helper: #646464;
    --color-text-primary: #222;
    --color-text-secondary: #383838;
    --color-text-success: #227039;
    --color-white: #fff;
    --color-yellow-10: #fef9e9;
    --color-yellow-20: #fef4d3;
    --color-yellow-30: #fdefbc;
    --color-yellow-80: #f9d34d;
    --color-yellow-100: #f8c821;
    --color-yellow-120: #c6a01a;
    --color-yellow-140: #957814;
    --font-family-display: Reckless-Light;
    --font-family-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-size-10: 0.625rem;
    --font-size-11: 0.6875rem;
    --font-size-12: 0.75rem;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --font-size-18: 1.125rem;
    --font-size-24: 1.5rem;
    --font-size-32: 2rem;
    --font-size-48: 3rem;
    --font-weight-200: 200;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --font-weight-900: 900;
    --letter-spacing-1: 1px;
    --letter-spacing-half: 0.5px;
    --line-height-100: 100%;
    --line-height-125: 125%;
    --line-height-150: 150%;
    --size-1: 0.0625rem;
    --size-2: 0.125rem;
    --size-4: 0.25rem;
    --size-6: 0.375rem;
    --size-8: 0.5rem;
    --size-10: 0.625rem;
    --size-11: 0.6875rem;
    --size-12: 0.75rem;
    --size-14: 0.875rem;
    --size-16: 1rem;
    --size-18: 1.125rem;
    --size-20: 1.25rem;
    --size-22: 1.375rem;
    --size-24: 1.5rem;
    --size-26: 1.625rem;
    --size-28: 1.75rem;
    --size-30: 1.875rem;
    --size-32: 2rem;
    --size-34: 2.125rem;
    --size-36: 2.25rem;
    --size-38: 2.375rem;
    --size-40: 2.5rem;
    --size-48: 3rem;
    --size-60: 3.75rem;
    --size-72: 4.5rem;
    --size-full: 100%;
    --size-half: 50%;
    --size-quarter: 25%;
    --space-0: 0;
    --space-2: 0.125rem;
    --space-4: 0.25rem;
    --space-8: 0.5rem;
    --space-12: 0.75rem;
    --space-16: 1rem;
    --space-20: 1.25rem;
    --space-24: 1.5rem;
    --space-32: 2rem;
    --space-40: 2.5rem;
    --space-48: 3rem;
    --space-60: 3.75rem;
    --space-72: 4.5rem;
    --fs0: 1rem;
    --lh0: 1.5rem;
    --fs1: 1.125rem;
    --lh1: 1.688rem;
    --fs3: 1.424rem;
    --lh3: 2.136rem;
    --fs5: 1.802rem;
    --lh5: 2.703rem;
    --fs6: 2.027rem;
    --lh6: 3.041rem;
    --fs9: 2.887rem;
    --lh9: 4.33rem;
    --fs-1: 0.889rem;
    --lh-1: 1.333rem;
    --fs-2: 0.79rem;
    --lh-2: 1.185rem;
    --fs-3: 0.702rem;
    --lh-3: 1.053rem;
    --goat-milk: #f8faf4;
    --celadon: #c8e3d8;
    --deep-emerald: #1b4942;
    --black: #000;
    --obsidian: #222;
    --iron-ore: #494949;
    --ash: #717171;
    --nantucket: #b0b0b0;
    --gravel: #e3e3e3;
    --linen: #fafafa;
    --white: #fff;
    --lagoon: #16b88a;
    --teachable-green: #21cd9c;
    --neon-green: #18eaae;
    --vintage-mint: #d7f3eb;
    --air-plant: #eafaf3;
    --cinnabar: #bf1515;
    --pomegranate: #d93838;
    --coral-red: #ff4e4e;
    --carnation: #ffe0e0;
    --petal-pink: #fff3f3;
    --cornflower-blue: #608fff;
    --chefchaouen: #84a9ff;
    --cascade: #b9cdff;
    --purple-haze: #dde7fe;
    --summer-breeze: #f1f5ff;
    --corn: #ecb800;
    --candlelight: #f8c821;
    --school-bus: #ffdb5e;
    --buttermilk: #ffeec3;
    --vanilla-wafer: #fff7dc;
    --evergreen: #004d40;
    --pine: #00746a;
    --green-machine: #009689;
    --money: #1ea69a;
    --matcha: #20bdaf;
    --caribbean: #52dccb;
    --seafoam: #b7f1ea;
    --minty-fresh: #dffff9;
    --sage: #f1fffc;
    --toothpaste: #f9fefd;
    --poppy: #e9573d;
    --melon: #f17e69;
    --peach: #ffb393;
    --apricat: #fbebe0;
    --sun-kissed: #fff6f0;
    --sunshine-daisy: #ffad00;
    --lemon-meringue: #ffc525;
    --yellow-submarine: #ffdd80;
    --butter: #ffeab2;
    --zest: #fff7e0;
    --royal: #204bbf;
    --cobalt: #1f6cde;
    --whale: #0f9fff;
    --dreamy: #91d0ff;
    --icy: #f4faff;
    --pillows: #e4f4ff;
    --regal: #2021ab;
    --grape: #4c3edc;
    --snozzberry: #6172e9;
    --lavender: #b1c1f8;
    --purple-rain: #eeefff;
    --red-carpet: #b30000;
    --red-herring: #c00;
    --rose: #fcc;
    --tickled-pink: #ffe5e5;
    --blush: #fff5f5;
    --squid-ink: #212338;
    --midnight: #292c44;
    --dark-and-stormy: #343854;
    --plumette: #4a4e6d;
    --slate: #6b6d7c;
    --nebulous: #9294a0;
    --concrete: #b9b9c0;
    --magic: #cbcbd0;
    --grey-area: #e2e2e9;
    --subtle: #efeff5;
    --fog: #f5f5f8;
    --cloud: #f9fafd;
    --clinical: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
.watchingMain {
    width: 100vw;
    display: flex;  
    flex-direction: column;
    font-family: var(--font-family-system);
    overflow:hidden;
}

header {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 1500;
}
header .steps {
    display: block;
    padding: 0.5rem 0;
    width: 30%;
    border: 1px solid var(--bs-gray-400);
}
header .steps .steps-back {
    margin: calc(0.3rem - 0.25rem) 1rem;
}
header .steps .steps-back i {
    font-size: 1.4rem;
    color: var(--bs-gray-500);
    padding: 0.25rem;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
header .steps .steps-back i:hover {
    color: var(--green-machine);
    background-color: var(--bs-gray-300);
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
}

header .move {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .move .move-back,
header .move .move-next {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 100%;
    flex-grow: 100%;
    gap: 1rem;
    border: 1px solid var(--bs-gray-400);
    font-size: 1.2rem;
    color: var(--bs-gray-700);
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
}

header .move .move-back:hover,
header .move .move-next:hover {
    color: var(--green-machine);
    background-color: hsla(177, 60%, 37%, 0.1);
    transition: 0.5s color, 1s background ease-in-out;
    -webkit-transition: 0.5s color, 1s background ease-in-out;
    -moz-transition: 0.5s color, 1s background ease-in-out;
    -ms-transition: 0.5s color, 1s background ease-in-out;
    -o-transition: 0.5s color, 1s background ease-in-out;
}

header .move .move-back i,
header .move .move-next i {
    font-size: 1rem;
}

/*  Details  */
.details {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.details .details-steps {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--size-12);
    border: 1px solid var(--bs-gray-400);
    border-top: 0px;
    overflow-y: auto !important;
}

.details .details-steps .details-about {
    width: 100%;
    min-height: 40%;
    background-color: hsla(175, 100%, 29%,.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.details-steps .details-about h1 {
    max-width: 17rem;
    margin: 0 auto;
    font-family: var(--font-family-system);
    font-size: var(--size-26);
    overflow-wrap: break-word;
}

.details-steps .details-about-progress {
    max-width: 17rem;
    min-width: 17rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--size-10);
}

.details-about-progress .progress {
    width: 17rem;
    height: 2rem;
    background-color: var(--white);
    position: relative;
    border-radius: 3.125rem;
    -webkit-border-radius: 3.125rem;
    -moz-border-radius: 3.125rem;
    -ms-border-radius: 3.125rem;
    -o-border-radius: 3.125rem;
    transition: all .5s ease-in-out;
}
.details-about-progress .progress::after{
    content: "";
    background-color: var(--green-machine);
    width: 2rem;
    height: 2rem;
    position: absolute;
    border-radius: 1.875rem;
    -webkit-border-radius: 1.875rem;
    -moz-border-radius: 1.875rem;
    -ms-border-radius: 1.875rem;
    -o-border-radius: 1.875rem;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.details-about-progress span {
    color: var(--green-machine);
    text-align: right;
}


.details-courses {
    display: flex;
    flex-direction: column;
    gap: var(--size-16);
}
.details-courses .detail-course {
    display: flex;
    flex-direction: column;
    gap: var(--size-10);
}
.details-courses .detail-course h1 {
    font-size: var(--size-24);
    font-family: var(--font-family-system);
    margin : 0 .5rem
}
.details-courses .detail-course .detail-course-vedio{
    display: flex;
    align-items: center;
    min-height: 4rem;
    border: 1px solid var(--bs-gray-400);
    transition:all  .5s ease-in ;
    -webkit-transition:all  .5s ease-in ;
    -moz-transition:all  .5s ease-in ;
    -ms-transition:all  .5s ease-in ;
    -o-transition:all  .5s ease-in ;
    cursor: pointer;
}
.details-courses .detail-course .detail-course-vedio > * {
    height: 100%;
    display: flex;
    align-items: center;
}

.details-courses .detail-course .detail-course-vedio .vedio-state {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-inline-end:1px solid var(--bs-gray-400);
    color : var(--bs-gray-400);
    font-size: var(--size-24);
    font-family: var(--font-family-system);
    letter-spacing: var(--letter-spacing-1);
}

.details-courses .detail-course .detail-course-vedio:hover {
    background-color: rgba(255, 179, 147, .2);
    transition:all  .5s ease-out ;
    -webkit-transition:all  .5s ease-out ;
    -moz-transition:all  .5s ease-out ;
    -ms-transition:all  .5s ease-out ;
    -o-transition:all  .5s ease-out ;
}

.details-courses .detail-course .detail-course-vedio:hover .vedio-state {
    color: var(--poppy) !important;
    transition:all  .5s ease-out ;
    -webkit-transition:all  .5s ease-out ;
    -moz-transition:all  .5s ease-out ;
    -ms-transition:all  .5s ease-out ;
    -o-transition:all  .5s ease-out ;
}


.details-courses .detail-course .detail-course-vedio .vedio-name {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 1rem;
    font-family: var(--font-family-system);
    font-size: var(--size-16);
    letter-spacing: var(--letter-spacing-1);
    color: var(--bs-gray-400);
}


/* Detail course vedio state */

/* Active */
.details-courses .detail-course .active > .vedio-state {
    color: var(--poppy) !important;
}
.details-courses .detail-course .active .vedio-name,
.details-courses .detail-course .complete .vedio-name {
    color:var(--bs-gray-500) !important;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.details-courses .detail-course .active:hover .vedio-name{
    color: var(--black) !important;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

/* Complete */
.details-courses .detail-course .complete > .vedio-state {
    color: var(--green-machine) !important;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.details-courses .detail-course .complete:hover .vedio-state {
    color: var(--bs-gray-400) !important;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

/* Info section  */
.details .details-info {
    width: 100%;
    padding: var(--size-40);
    display: flex;
    flex-direction: column;
    gap: var(--size-40);
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.details .infos {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Video section */
.videoBox {
    position: relative;
    display: flex;
    width: 50rem;
    height:31.25rem;
    justify-content: center;
    align-items: center;
    z-index: 1500;
}
.videoBox #video {
    width: 100%;
    height: 400px;
}
.videoBox .controls {
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: var(--size-20);
    opacity: 0.2;
    transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
}
.videoBox:hover .controls {
    opacity: 1;
}
.videoBox .controls button {
    background: transparent;
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 1px 2px #000;
    border: none;
    cursor: pointer;
}
.videoBox .controls .timeline {
    width: calc(44.5rem - 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-right: 3px solid #ccc;
    border-left: 3px solid #ccc;
}
.videoBox .controls .timeline .bar{
    background: rgb(1, 1, 65);
    height: 4px;
    flex: 1;
}
.videoBox .controls .timeline .bar .inner{
    background: #ccc;
    width: 0%;
    height: 100%;
}
.fa {
    font-size: 20px !important;
}
.timeline-controle {
    display: flex;
    width: calc(712px - 20%);
    justify-content: space-between;
    padding-inline: 1rem;
}

.timeline-controle .timeline-controle-left,
.timeline-controle .timeline-controle-right {
    display:inline-flex;
    gap: 1rem;
}

/* Description  */

.details-info .description h1{
    margin: 2rem 0;
}
.details-info .description .next-course {
    margin: 3rem 0;
    color: var(--green-machine);
    cursor: pointer;

}

/* Pesuade  */
.hide {
    display: none !important;
    flex-grow: 0 !important;
}




