{% load static %}
<!-- Static code -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,text">
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <!-- Normalize css file A modern, HTML5-ready alternative to CSS resets -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/wtf-forms.css' %}">
    <!-- font-awesome The iconic SVG, font, and CSS toolkit -->
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Admin Page</title>
  </head>
  <!-- Static code -->
  <body>
    <main>
      <!-- Side Bar -->
      <section class="left">
        <div class="header">
          <h1>Tech:able</h1>
          <div class="logo">
            <div class="userImg avatarDiv">
              <img class="avatar" alt="user logo" />
            </div>
            {% if user.is_authenticated %}
              <div class="userInfo">
                <span class="userName">{{user.username}}</span>
                <span class="mailUser">{{user.email}}</span>
              </div>
            {% else %}
              <h1> bbllblblb</h1>
            {% endif %}
          </div>
        </div>
        <div class="choices">
          <div class="choice mySchool active">
            <i class="fa-solid fa-school"></i> My Schools
          </div>
          {% if user.is_authenticated %}
            {% if "teach.com" in user.email %}
              <div class="choice addOn ">
                <i class="fa-solid fa-circle-plus"></i> ADD
              </div>
            {% else %}
            {% endif %}
          {% else %}
          <div class="choice addOn ">
            <i class="fa-solid fa-circle-plus"></i> no conncet
          </div>
          {% endif %}
          <div class="choice setting">
            <i class="fa-solid fa-gear"></i> Settings
          </div>
          <div class="choice">
            <i class="fa-solid fa-right-from-bracket"></i> logout
          </div>
        </div>
      </section>
      <!-- Side Bar End -->

      <!-- My Schools section -->
     
      <section class="right containers mySchool">
        <div class="schoolOwn">
          <h1>Schools I Own</h1>
          <div class="cards">
            {% for i in cour %}
              <div class="card">
                <div class="cardImg">
                </div>
                <div class="cardInfo">
                  <a href="{% url 'cours' i.slug %}">
                  <h1 class="schoolName">{{i.name}}'s School</h1></a>
                  <p class="schoolDomain">{{i.diff}}</p>
                </div>
                <div class="cardTicket">Online</div>
                <div class="cardLogo"></div>
              </div>
            {% endfor %}
             {% comment %}
            <div class="card">
              <div class="cardImg">
              </div>
              <div class="cardInfo">
                <h1 class="schoolName">{{username}}'s School</h1>
                <p class="schoolDomain">{{email}}</p>
              </div>
              <div class="cardTicket">Online</div>
              <div class="cardLogo"></div>
            </div>
            <div class="card">
              <div class="cardImg">
              </div>
              <div class="cardInfo">
                <h1 class="schoolName">{{username}}'s School</h1>
                <p class="schoolDomain">{{email}}</p>
              </div>
              <div class="cardTicket">Online</div>
              <div class="cardLogo"></div>
            </div>
            <div class="card">
              <div class="cardImg">
              </div>
              <div class="cardInfo">
                <h1 class="schoolName">{{username}}'s School</h1>
                <p class="schoolDomain">{{email}}</p>
              </div>
              <div class="cardTicket">Online</div>
              <div class="cardLogo"></div>
            </div> {% endcomment %}
          </div>
        </div>
        {% comment %} <div class="schoolOwn">
          <h1>Cours Enroll In</h1>
          <div class="cards">
            <div class="card">
              <div class="cardImg imgRoll"></div>
              <div class="cardInfo">
                <h1 class="schoolName">{{username}}'s School</h1>
                <p class="schoolDomain">{{email}}</p>
              </div>
              <div class="cardTicket">Online</div>
              <div class="cardLogo logoRoll"></div>
            </div>
          </div>
        </div> {% endcomment %}
      </section>
      <!-- My Schools section End -->

      <!-- Add On Section -->
      <section class="right containers addOn disable ">
        <section class="coursConatainer">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="inputSection ">
              <div class="nameCours section ">
                <h1>Name your course : </h1>
                <p>What would you like to name your course?Don’t worry, you
                  can always change this later.</p>
                <div class="inputGroup">
                  <label for="coursTitle">Course Title</label>
                  <input
                    type="text"
                    name="coursTitle"
                    id="coursTitle"
                    placeholder="e.g. 'Advanced Photoshop Techniques' or 'Watercolor for Dummies'"
                    autofocus
                    required />
                  <span class="error disable">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    This field is required
                  </span>
                </div>
              </div>
              <div class="coursPrice section disable">
                <h1>Course Price : </h1>
                <p>The course price refers to the cost associated with
                  accessing the course materials and resources.
                </p>
                <div class="inputGroup">
                  <label for="coursPrice">Course Price</label>
                  <input
                    type="text"
                    name="coursPrice"
                    id="coursPrice"
                    placeholder="e.g. '4.5 $'"
                    pattern="\d{1,5}"
                    autofocus
                    required />
                  <span class="error disable">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    This field is required
                  </span>
                </div>
              </div>
              <div class="coursDifficlty section disable">
                <h1>Course Diffuclty : </h1>
                <p>The course level difficulty is divided into three
                  categories to accommodate learners with varying levels of
                  knowledge and expertise.</p>
                <div class="inputGroup">
                  <label for="coursDifficulty">Course Level Difficulty :</label>
                  <select name="coursDifficlty" id="coursTitle">
                    <option value="select" selected disabled>--Select</option>
                    <option value="beginner">Beginner</option>
                    <option value="intermediate">Intermediate</option>
                    <option value="advanced">Advanced</option>
                  </select>
                </div>
              </div>
              <div class="coursNumber section disable">
                <h1>Course Section : </h1>
                <p>How much section you preserve to this courses.</p>
                <div class="inputGroup">
                  <label for="coursSections">Sections Course :</label>
                  <select name="coursSections" id="coursSections">
                    <option value="select" selected disabled>--Select</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>

              </div>
              <div class="cours section disable">
                <h1>let create some courses section</h1>
              </div>
            </div>
            <div class="doneSection disable">
              <h1>
                Congratulation ! you created you cours
              </h1>
              <lottie-player
                src="https://assets5.lottiefiles.com/datafiles/uoZvuyyqr04CpMr/data.json"
                background="transparent" speed="1"
                style="width: 300px; height: 300px; translate:15px 20px;" stop></lottie-player>
            </div>
            <div class="navigationCours">
              <input class="buttonNav unfill" type="button" value="Back" />
              <input class="buttonNav" type="button" value="Continue" />
              <input class="buttonNav disable" type="submit" value="Confirm" />
            </div>
          </form>
        </section>
      </section>
      <!-- Add On Section End -->
      
      <!-- Setting Section -->
      <section class="right containers setting disable">
        <div class="settingContainer">
          <form method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
            <div class="inputSection">
              <div class="inputGroup">
                <label for="userName">Full Name</label>
                <input type="text" name="userName" id="userName" value="{{user.username}}"/>
              </div>
              <div class="inputGroup">
                <label for="userMail">Email Adress</label>
                <input type="email" name="userMail" id="UserMail" value="{{user.email}}"/>
              </div>
              <span id="changePass">Change password</span>
              <div class="changePassword">
                <div class="inputGroup">
                  <label for="changePass">New Password</label>
                  <input type="password" name="changePass" id="ChangePass" />
                </div>
                <div class="inputGroup">
                  <label for="confirmPass">Confirm password</label>
                  <input type="password" name="confirmPass" id="confirmPass" />
                </div>
              </div>
              <hr/>
              <div class="inputGroup">
                <label for="currPass">To save changes, please enter your current password </label>
                <input type="password" name="currPass" id="currPass" />
              </div>
              <div class="inputGroup submit">
                <input type="submit" name="confChang" id="confChang" value="Save changes" />
              </div>
            </div>
          </form>
        </div>
        {% else %}
        <h1> bbllblblb</h1>
        {% endif %}
      </section>
      <!-- Setting Section End -->


    </main>

    <!-- Script js -->

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/validation.js'%}"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </body>
</html>