{% load static %}
<!-- Static code -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"content="width=device-width, initial-scale=1.0,text">
        <link rel="stylesheet" href="{% static 'css/watch.css' %}" />
        <!-- Normalize css file A modern, HTML5-ready alternative to CSS resets -->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css'%}" />
        <!-- font-awesome The iconic SVG, font, and CSS toolkit -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Watching Vedio</title>
    </head>
    <!-- Static code -->
    <body>
        {% if cour.title1 == "" %}
        <span class="total hide">0</span>
        {% elif cour.title2 == "" %}
        <span class="total hide">1</span>
        {% elif cour.title3 == "" %}
        <span class="total hide">2</span>
        {% elif cour.title4 == "" %}
        <span class="total hide">3</span>
        {% elif cour.title5 == "" %}
        <span class="total hide">4</span>
        {% else %}
        <span class="total hide">5</span>        
        {% endif %}
        <main>
            <header>
                <div class="steps">
                    <div class="steps-back">
                        <i class="fa-solid fa-arrow-left-long"></i>
                    </div>
                </div>
                <div class="move">
                    <div class="move-back">
                        <i class="fa-solid fa-arrow-left-long"></i>
                        Previous Lesson
                    </div>
                    <div class="move-next">
                        Complete and Continue
                        <i class="fa-solid fa-arrow-right-long"></i>
                    </div>
                </div>
            </header>
            <section class="details">
                <section class="details-steps">
                    <div class="details-about">
                        <h1>
                            Learn javascript in 30 days with side project
                        </h1>
                        <div class="details-about-progress">
                            <div class="progress"></div>
                            <span>0% Complete</span>
                        </div>
                    </div>
                    <div class="details-courses">
                        <div class="detail-course hide">
                            <h1>Introduction</h1>
                            <div class="detail-course-vedio active" data-number="1">
                                <div class="vedio-state">
                                    <i class="fa-regular fa-circle-play"></i>
                                </div>
                                <div class="vedio-name">
                                    <span>(0:15)</span>
                                </div>
                            </div>
                        </div>
                        <div class="detail-course hide">
                            <h1>Introduction</h1>
                            <div class="detail-course-vedio"  data-number="2">
                                <div class="vedio-state">
                                    <i class="fa-regular fa-circle-play"></i>
                                </div>
                                <div class="vedio-name">
                                    <span>(0:15)</span>
                                </div>
                            </div>
                        </div>
                        <div class="detail-course hide">
                            <h1>Completed section</h1>
                            <div class="detail-course-vedio"  data-number="3">
                                <div class="vedio-state">
                                    <i class="fa-regular fa-circle-play"></i>
                                </div>
                                <div class="vedio-name">
                                    <span>(0:15)</span>
                                </div>
                            </div>
                        </div>
                        <div class="detail-course hide">
                            <h1>Completed section</h1>
                            <div class="detail-course-vedio"  data-number="4">
                                <div class="vedio-state">
                                    <i class="fa-regular fa-circle-play"></i>
                                </div>
                                <div class="vedio-name">
                                    <span>(0:15)</span>
                                </div>
                            </div>
                        </div>
                        <div class="detail-course hide">
                            <h1>Completed section</h1>
                            <div class="detail-course-vedio"  data-number="5">
                                <div class="vedio-state">
                                    <i class="fa-regular fa-circle-play"></i>
                                </div>
                                <div class="vedio-name">
                                    <span>(0:15)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="infos">
                    <section class="details-info" aria-hidden="false" data-number="1">
                        <h1>{{cour.title1}}</h1>
                        <div class="videoBox">
                            <video onclick="play(event)"
                                src="{{cour.video1.url}}"
                                id="video"></video>
                            <div class="controls">
                                <div class="timeline">
                                    <div class="bar">
                                        <div class="inner"></div>
                                    </div>
                                </div>
                                <div class="timeline-controle">
                                    <div class="timeline-controle-left">
                                        <button onclick="play(event)"><i
                                                class="fa fa-play"></i><i
                                                class="fa fa-pause"></i></button>
                                        <button onclick="rewind(event)"><i
                                                class="fa fa-fast-backward"></i></button>
                                        <button onclick="forward(event)"><i
                                                class="fa fa-fast-forward"></i></button>

                                    </div>
                                    <div class="timeline-controle-right">

                                        <button onclick="fullScreen(event)"><i
                                                class="fa fa-expand"></i></button>
                                        <button onclick="download(event)"><i
                                                class="fa fa-cloud-download"></i></button>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="description">
                            <h1>Description</h1>
                            <p>{{cour.description1}}</p>
                            <button class="next-course">Next course ></button>
                        </div>

                    </section>
                    <section class="details-info hide" aria-hidden="true" data-number="2">
                        <h1>{{cour.title2}}</h1>
                        <div class="videoBox">
                            {% if cour.title2 == ""  %}
                             <span class="total hide">None</span>
                            {% else %}
                            <video onclick="play(event)"
                                src="{{cour.video2.url}}"
                                id="video"></video>
                            {% endif %}
                            <div class="controls">
                                <div class="timeline">
                                    <div class="bar">
                                        <div class="inner"></div>
                                    </div>
                                </div>
                                <div class="timeline-controle">
                                    <div class="timeline-controle-left">
                                        <button onclick="play(event)"><i
                                                class="fa fa-play"></i><i
                                                class="fa fa-pause"></i></button>
                                        <button onclick="rewind(event)"><i
                                                class="fa fa-fast-backward"></i></button>
                                        <button onclick="forward(event)"><i
                                                class="fa fa-fast-forward"></i></button>

                                    </div>
                                    <div class="timeline-controle-right">

                                        <button onclick="fullScreen(event)"><i
                                                class="fa fa-expand"></i></button>
                                        <button onclick="download(event)"><i
                                                class="fa fa-cloud-download"></i></button>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="description">
                            <h1>Description</h1>
                            <p>{{cour.description2}}</p>
                            <button class="next-course">Next course ></button>
                        </div>

                    </section>
                    <section class="details-info hide" aria-hidden="true" data-number="3">
                        <h1>{{cour.title3}}</h1>

                        <div class="videoBox">
                            {% if cour.title3 == ""  %}
                            <span class="total hide">None</span>
                            {% else %}
                            <video onclick="play(event)"
                                src="{{cour.video3.url}}"
                                id="video"></video>
                            {% endif %}
                            <div class="controls">
                                <div class="timeline">
                                    <div class="bar">
                                        <div class="inner"></div>
                                    </div>
                                </div>
                                <div class="timeline-controle">
                                    <div class="timeline-controle-left">
                                        <button onclick="play(event)"><i
                                                class="fa fa-play"></i><i
                                                class="fa fa-pause"></i></button>
                                        <button onclick="rewind(event)"><i
                                                class="fa fa-fast-backward"></i></button>
                                        <button onclick="forward(event)"><i
                                                class="fa fa-fast-forward"></i></button>

                                    </div>
                                    <div class="timeline-controle-right">

                                        <button onclick="fullScreen(event)"><i
                                                class="fa fa-expand"></i></button>
                                        <button onclick="download(event)"><i
                                                class="fa fa-cloud-download"></i></button>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="description">
                            <h1>Description</h1>
                            <p>{{cour.description3}}</p>
                            <button class="next-course">Next course ></button>
                        </div>

                    </section>
                    <section class="details-info hide" aria-hidden="true" data-number="4">
                        <h1>{{cour.title4}}</h1>

                        <div class="videoBox">
                            {% if cour.title4 == "" %}
                            <span class="total hide">None</span>
                            {% else %}
                            <video onclick="play(event)"
                                src="{{cour.video4.url}}"
                                id="video"></video>
                            {% endif %}
                            <div class="controls">
                                <div class="timeline">
                                    <div class="bar">
                                        <div class="inner"></div>
                                    </div>
                                </div>
                                <div class="timeline-controle">
                                    <div class="timeline-controle-left">
                                        <button onclick="play(event)"><i
                                                class="fa fa-play"></i><i
                                                class="fa fa-pause"></i></button>
                                        <button onclick="rewind(event)"><i
                                                class="fa fa-fast-backward"></i></button>
                                        <button onclick="forward(event)"><i
                                                class="fa fa-fast-forward"></i></button>

                                    </div>
                                    <div class="timeline-controle-right">

                                        <button onclick="fullScreen(event)"><i
                                                class="fa fa-expand"></i></button>
                                        <button onclick="download(event)"><i
                                                class="fa fa-cloud-download"></i></button>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="description">
                            <h1>Description</h1>
                            <p>{{cour.description4}}</p>
                            <button class="next-course">Next course ></button>
                        </div>

                    </section>
                    <section class="details-info hide" aria-hidden="true" data-number="5">
                        <h1>{{cour.title5}}</h1>

                        <div class="videoBox">
                            {% if cour.title5 == "" %}
                            <span class="total hide">None</span>
                            {% else %}
                            <video onclick="play(event)"
                                src="{{cour.video5.url}}"
                                id="video"></video>
                            {% endif %}
                            <div class="controls">
                                <div class="timeline">
                                    <div class="bar">
                                        <div class="inner"></div>
                                    </div>
                                </div>
                                <div class="timeline-controle">
                                    <div class="timeline-controle-left">
                                        <button onclick="play(event)"><i
                                                class="fa fa-play"></i><i
                                                class="fa fa-pause"></i></button>
                                        <button onclick="rewind(event)"><i
                                                class="fa fa-fast-backward"></i></button>
                                        <button onclick="forward(event)"><i
                                                class="fa fa-fast-forward"></i></button>

                                    </div>
                                    <div class="timeline-controle-right">

                                        <button onclick="fullScreen(event)"><i
                                                class="fa fa-expand"></i></button>
                                        <button onclick="download(event)"><i
                                                class="fa fa-cloud-download"></i></button>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="description">
                            <h1>Description</h1>
                            <p>{{cour.description5}}</p>
                            <button class="next-course">Next course ></button>
                        </div>

                    </section>
                </div>
            </section>
        </main>
    </body>

    <!--  JS  -->
    <script src="{% static 'js/video.js' %}"></script>
    <script src=" {% static 'js/watching.js' %}"></script>
</html>