{% load static %}
<!-- Static code -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,
            text"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Normalize css file A modern, HTML5-ready alternative to CSS resets -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
      <!-- font-awesome The iconic SVG, font, and CSS toolkit -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home</title>
  </head>
  <!-- Static code -->
  <body>
    <!-- NavBar  -->

    <nav>
      <div class="navlg">
        <div class="navSection right-section navlg">
          <h1 class="navTitle">tech:learning</h1>
          <ul>
            <li>Features</li>
            <li>Prices</li>
            <li>Challangess</li>
          </ul>
        </div>
        <div class="navSection left-section">
          <button class="button"><a href="{% url 'conncetion' %}"> Log in </a> </button>
          <button class="button"><a href="{% url 'register' %}">join for free</a></button>
        </div>
      </div>

      <!-- For mobile design -->

      <div class="navmb">
        <div class="navSection right-section">
          <h1 class="navTitle">tech:learning</h1>
        </div>
        <div class="navSection left-section">
          <button class="button">join for free</button>
          <div class="humbrger">
            <input
              type="checkbox"
              id="checkbox4"
              class="checkbox4 visuallyHidden"
            />
            <label for="checkbox4">
              <div class="hamburger hamburger4">
                <span class="bar bar1"></span>
                <span class="bar bar2"></span>
                <span class="bar bar3"></span>
                <span class="bar bar4"></span>
                <span class="bar bar5"></span>
              </div>
            </label>
            <div aria-hidden="true" class="wrapper">
              <ul>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>
                  <button>log in</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- End NavBar  -->
    {% block mainContent %} {% endblock mainContent %}

    <!-- Footer -->

    <footer>
      <div class="footer_links">
        <div class="footer_description">
          <div class="footer_header">
            <h1>tech:learning</h1>
          </div>
          <div class="description_footer">
            <p>
              Join the more than 100,000 creators who use Teachable to share
              their knowledge. Easily create an online course or coaching
              business with our powerful yet simple all-in-one platform.
            </p>
          </div>
        </div>
        <div class="footer_link">
          <div>
            <div class="header">
              <span>Explore</span>
            </div>
            <div class="links">
              <ul>
                <li><a href="#">Features</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Examples</a></li>
                <li><a href="#">Newsletter</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Podcast</a></li>
              </ul>
            </div>
          </div>
          <div>
            <div class="header">
              <span>Company</span>
            </div>
            <div class="links">
              <ul>
                <li><a href="#"> About</a></li>
                <li><a href="#"> Careers</a></li>
                <li><a href="#"> Blog</a></li>
                <li><a href="#"> Press</a></li>
                <li><a href="#"> Partners</a></li>
              </ul>
            </div>
          </div>
          <div>
            <div class="header">
              <span>Support</span>
            </div>
            <div class="links">
              <ul>
                <li><a href="#"> Knowledge Base</a></li>
                <li><a href="#"> Contact Support</a></li>
                <li><a href="#"> Contact Sales</a></li>
                <li><a href="#"> Privacy Policy</a></li>
                <li><a href="#"> Terms of Use </a></li>
                <li><a href="#"> Content Guidelines </a></li>
                <li><a href="#"> House Rules </a></li>
                <li><a href="#"> Cookies Policy </a></li>
                <li><a href="#"> Ethics Line </a></li>
                <li><a href="#"> Accessibility </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_footer">
        <hr />
        <div class="footer_footer_elements">
          <div class="footer_copyright">
            <span>Copyright © 2023 Teachable, Inc. All rights reserved.</span>
          </div>
          <div class="footer_icons">
            <a href="#">
              <i class="fa-brands fa-youtube icon"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-facebook icon"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-pinterest icon"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-instagram icon"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-twitter icon"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-linkedin icon"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-tiktok icon"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>

    <!-- End Footer -->

    <!-- Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
